
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Url Shorter</title>
        <%- include('parts/style')%>
    </head>
    <body>

        <!--Header Section-->
        <%- include('parts/header')%>
        <!--End Header Section-->

        <div id="h-header">

        <section id="shortner" class="section-space url-form-area">
            <div class="current-qr">
                <img src="assets/img/qr-large.png" alt="image title">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-title text-center">
                            <h1>Short links, big results</h1>
                            <p>A URL shortener built with powerful tools to help you grow and protect your brand.</p>
                        </div>
                    </div> 
                </div>
                <div class="shortner-form-banner">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-lg-9 pr-0">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="long_url" name="long_url" placeholder="Paste your big URL here....">
                                </div>
                            </div>
                            <div class="col-lg-3 pl-0">
                                <button type="submit" class="btn btn-primary">Shorten</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="shorten_urls">
                            <ul class="links_history">
                                <li class="link">
                                    <span class="sh-long-link">https://www.flaticon.com/search/2?search-type=icons&amp;word=heart</span>
                                    <span class="list-qr">
                                        <img src="assets/img/qr.png" alt="image title">
                                        <span>
                                            <button class="download-qr"><i class="fas fa-cloud-download-alt"></i></button>
                                            <button class="download-qr print-qr"><i class="fas fa-print"></i></button>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="sh-short-link"><a href="https://bit.ly/36RvDWN" target="_blank" title="Shortened URL for https://www.flaticon.com/search/2?search-type=icons&amp;word=heart">https://bit.ly/36RvDWN</a></span>
                                        <span class="sh-copy"><button class="button">Copy</button></span>
                                        <span class="share-group dropup">
                                            <button type="button" class="btn dropdown-toggle m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                              <a href="#"><i class="fab fa-skype"></i></a>
                                              <a href="#"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                                <li class="link">
                                    <span class="sh-long-link">https://bitly.com/</span>
                                    <span class="list-qr">
                                        <img src="assets/img/qr.png" alt="image title">
                                        <span>
                                            <button class="download-qr"><i class="fas fa-cloud-download-alt"></i></button>
                                            <button class="download-qr print-qr"><i class="fas fa-print"></i></button>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="sh-short-link"><a href="https://bitly.is/36Jxz3h" target="_blank" title="Shortened URL for https://bitly.com/">https://bitly.is/36Jxz3h</a></span>
                                        <span class="sh-copy"><button class="button">Copy</button></span>
                                        <span class="share-group dropup">
                                            <button type="button" class="btn dropdown-toggle m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                              <a href="#"><i class="fab fa-skype"></i></a>
                                              <a href="#"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                                <li class="link">
                                    <span class="sh-long-link">https://www.flaticon.com/search/2?search-type=icons&amp;word=heart</span>
                                    <span class="list-qr">
                                        <img src="assets/img/qr.png" alt="image title">
                                        <span>
                                            <button class="download-qr"><i class="fas fa-cloud-download-alt"></i></button>
                                            <button class="download-qr print-qr"><i class="fas fa-print"></i></button>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="sh-short-link"><a href="https://bit.ly/36RvDWN" target="_blank" title="Shortened URL for https://www.flaticon.com/search/2?search-type=icons&amp;word=heart">https://bit.ly/36RvDWN</a></span>
                                        <span class="sh-copy"><button class="button">Copy</button></span>
                                        <span class="share-group dropup">
                                            <button type="button" class="btn dropdown-toggle m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                              <a href="#"><i class="fab fa-skype"></i></a>
                                              <a href="#"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                                <li class="link">
                                    <span class="sh-long-link">https://bitly.com/</span>
                                    <span class="list-qr">
                                        <img src="assets/img/qr.png" alt="image title">
                                        <span>
                                            <button class="download-qr"><i class="fas fa-cloud-download-alt"></i></button>
                                            <button class="download-qr print-qr"><i class="fas fa-print"></i></button>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="sh-short-link"><a href="https://bitly.is/36Jxz3h" target="_blank" title="Shortened URL for https://bitly.com/">https://bitly.is/36Jxz3h</a></span>
                                        <span class="sh-copy"><button class="button">Copy</button></span>
                                        <span class="share-group dropup">
                                            <button type="button" class="btn dropdown-toggle m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left ">
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                              <a href="#"><i class="fab fa-skype"></i></a>
                                              <a href="#"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                                <li class="link">
                                    <span class="sh-long-link">https://www.flaticon.com/search/2?search-type=icons&amp;word=heart</span>
                                    <span class="list-qr">
                                        <img src="assets/img/qr.png" alt="image title">
                                        <span>
                                            <button class="download-qr"><i class="fas fa-cloud-download-alt"></i></button>
                                            <button class="download-qr print-qr"><i class="fas fa-print"></i></button>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="sh-short-link"><a href="https://bit.ly/36RvDWN" target="_blank" title="Shortened URL for https://www.flaticon.com/search/2?search-type=icons&amp;word=heart">https://bit.ly/36RvDWN</a></span>
                                        <span class="sh-copy"><button class="button">Copy</button></span>
                                        <span class="share-group dropup">
                                            <button type="button" class="btn dropdown-toggle m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                              <a href="#"><i class="fab fa-skype"></i></a>
                                              <a href="#"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Blog Section-->
        <section class="blog-section section-space bg-gray ptb-80 service-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="top-title">Top Features</span>
                            <h2>Grow Your Brand With Every Click</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl col-lg-3 col-md-4">
                        <a href="#" class="service-box text-center">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="service-icon">
                                        <img src="assets/img/Illustration-1.png" alt="image title">
                                    </div>
                                    <div class="box-bottom">
                                        <h4>Inspire trust</h4>
                                        <p>As your click numbers go up, your brand recognition increases. And the more that grows, the more confident people become in the integrity of your content and communications. (It’s a wonderful cycle.)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4">
                        <a href="#" class="service-box text-center">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="service-icon">
                                        <img src="assets/img/Illustration-2.png" alt="image title">
                                    </div>
                                    <div class="box-bottom">
                                        <h4>Boost results</h4>
                                        <p>Better deliverability and improved click-through are just the start. Rich link-level data allows you to understand who is clicking your links, as well as when and where, so you can make smarter decisions around the content and communications you share.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4">
                        <a href="#" class="service-box text-center">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="service-icon">
                                        <img src="assets/img/Illustration-3.png" alt="iamge title">
                                    </div>
                                    <div class="box-bottom">
                                        <h4>Gain control</h4>
                                        <p>On top of being able to fully customize your links, auto-branding boosts awareness of your brand by giving you credit for your content and more insight into how it’s being consumed.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--End Blog Section-->

        </div>

        <!--success toast Design-->
        <div class="toaster alert alert-green alert-dismissible fade show" role="alert">
            <div class="toast-icon success-icon"><i class="fas fa-check"></i></div>
            <div class="toster-text">
                <strong>Success</strong> Anyone with access can view your invited visitors.
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--success toast Design End-->

        <!--warning toast Design-->
        <!-- <div class="toaster alert alert-warn alert-dismissible fade show" role="alert">
            <div class="toast-icon warn-icon"><i class="fas fa-exclamation"></i></div>
            <div class="toster-text">
                <strong>Warning</strong> Anyone with access can view your invited visitors.
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <!--warning toast Design end-->

        <!--Info toast Design-->
        <!-- <div class="toaster alert alert-info alert-dismissible fade show" role="alert">
            <div class="toast-icon info-icon"><i class="fas fa-info"></i></div>
            <div class="toster-text">
                <strong>Info</strong> Anyone with access can view your invited visitors.
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <!--Info toast design end-->

        <!--danger toast Design-->
        <!-- <div class="toaster alert alert-red alert-dismissible fade show" role="alert">
            <div class="toast-icon red-icon"><i class="fas fa-times"></i></div>
            <div class="toster-text">
                <strong>Danger</strong> Anyone with access can view your invited visitors.
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <!--danger toast design end-->

        <!--Start Footer Section-->
        <%- include('parts/footer')%>

        <a href="#h-header" id="bottom-to-top" class="button-scroll"><i class="fas fa-chevron-up"></i></a>
        <%- include('parts/script')%>
    </body>
</html>