<footer class="site-footer bg-gray">
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-9 text-left">
                    <p>Copyright &copy;2020 <a href="index.html">URL-Shortner</a>. Designed By <a href="https://aminurislam.me/" target="_blank">Aminur</a> & Developed By <a href="https://github.com/jakarea" target="_blank">Jakarea</a>. All rights reserved</p>
                </div>
                <div class="col-lg-3 text-right">
                    <ul class="list-inline">    
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>